/* subforum head */
#subforum-heading {
    display: flex;
    width: 70%;
    margin: auto;
    background-color: #342E36;
    padding: 30px 40px;
}

#subforum-info > h2, #subforum-info > a > h2 {
    color: #FFFFFF;
    letter-spacing: 1px;
}

#subforum-info > p {
    color: #E5E5E5;
}

#subforum-heading > button {
    height: 40px;
    margin-left: 10px;
}

#action-buttons {
    float: right;
    margin-left: auto; 
    margin-right: 0;
    vertical-align: middle;
}

/* general container */
.box-container {
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 15px 20px;
}

.content-preview, .content {
    margin-top: 12px;
}

.content-preview::after {
    content: " ...";
    color: grey;
    letter-spacing: 2px;
}

#author-info {
    display: flex;
    gap: 10px;
}

#author-info > img {
    width: 45px;
    height: 45px;
    border: 2px solid #E5E5E5;
    border-radius: 100%;
}

#author-info > span {
    line-height: 1.3;
    align-self: center;
}

#author-info > span > a {
    font-weight: 600;
}

#author-info > span > p {
    font-style: italic;
    opacity: 0.9;
}

/* reply-specific */
#replies, #threads {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 25px;
}

#replies > div, #share-actions {
    width: 55%;
    margin: auto;
}

.reply-mark {
    float: left;
    margin-left: -42px;
    margin-top: -14px;
    color: #E5E5E5;
    font-size: 40px !important;
}

/* thread-specific */
.thread, #threads > div, #threads > b {
    width: 60%;
    margin: auto;
}

.thread {
    margin-top: 25px;
    margin-bottom: 60px;
}

.thread-actions {
    display: flex;
    float: right;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 15px;
    padding: 4px 10px;
    opacity: 0.8;
}

.thread-actions > a {
    padding: 3px 12px;
    color: #342E36;
}

.thread-actions > a:hover {
    text-decoration: underline;
}

.thread-actions > a > i {
    vertical-align: middle;
    margin-right: 5px;
    color: #342E36;
}

#threads > b {
    margin-top: 20px;
    margin-bottom: -10px;
}

/* text editor */
#text-editor {
    display: none; /* hide on launch */
    position: relative;
    width: 55%;
    margin: 100px auto 25px auto;
    padding-bottom: 56px; /* add space for button */
}

#text-editor > #content {
    width: auto;
    border-radius: 0;
    margin: 10px 0;
}

#text-editor > #actions {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

/* share actions */
#share-actions {
    display: none; /* hide on launch */
    gap: 3px;
    margin-bottom: 25px;
}

#share-actions > #socials > a > img {
    width: 30px;
}

#socials {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 5px;
}

#link {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(240, 240, 240, 0.8);
    overflow-x: scroll;
}

#close-btn {
    float: right;
    padding: 0;
    margin-top: -5px;
    margin-right: -10px;
    border: 0;
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
}