/* subforum head */
#subforum-info {
    width: 70%;
    margin: auto;
    background-color: #342E36;
    padding: 30px 40px;
}

#subforum-info > h2 {
    color: #FFFFFF;
    letter-spacing: 1px;
}

#subforum-info > p {
    color: #E5E5E5;
}

/* threads */
.box-container {
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 15px 20px;
}

.thread {
    width: 60%;
    margin: auto;
    margin-top: 25px;
}

.update-date {
    font-size: 14px;
}

.content-preview, .content {
    margin-top: 12px;
}

.content-preview::after {
    content: " ...";
    color: grey;
    letter-spacing: 2px;
}

.user-profile-link + i {
    color: #3777FF;
    vertical-align: middle;
    margin-left: 6px;
}

.user-info {
    position: relative;
    float: right;
}

.reply {
    width: 55%;
    margin: auto;
    margin-top: 25px;
}

.reply-mark {
    float: left;
    margin-left: -42px;
    margin-top: -14px;
    color: #E5E5E5;
    font-size: 40px !important;
}