<div id="subforum-heading">
    <div id="subforum-info">
        <h3 id="title">{{title}}</h3>
        <p>{{description}}</p>
    </div>
    <div id="action-buttons">
        <button class="light" onclick="location.href='subf/{{subforumName}}';">View</button>
    </div>
</div>