nav {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: -0;
    overflow-x: hidden;
    background-color: #342E36;
}

nav > button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
}

nav > button > i {
    color: #FAFAFA;
}

nav > a {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #FAFAFA;
}

nav > a:nth-child(2) {
    margin-top: 70px;
}

nav > a > span {
    vertical-align: middle;
    margin-right: 10px;
    color: #FAFAFA;
}

nav > a:hover {
    background-color: #4C543C;
    border-left: 10px solid #A2D641;
    color: #A2D641;
}

nav > div {
    position: absolute;
    width: inherit;
    bottom: 0;
    padding: 10px 15px;
}

nav > div > a {
    color: #FAFAFA;
}

nav > div > a:hover {
    font-weight: 500;
    color: #A2D641;
}

nav > div > img {
    width: 50px;
    height: 50px;
    border: 3px solid #A2D641;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 6px;
}
