@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.text-frame {
	position: fixed;
	width: 1120px;
	height: 330px;
	left: 25%;
	top: 33%;

	background: #FFFFFF;
	border-radius: 5px;
}

.text-frame #profile-picture {
	position: absolute;
	width: 295px;
	height: 295px;
	left: 40px;
	top: -140px;
	border: 8px solid #FFFFFF;
	border-radius: 50%;
}

.text-frame h1 {
	position: absolute;
	width: 337px;
	height: 60px;
	left: 70px;
	top: 190px;
	
	line-height: 51px;
	display: flex;
	align-items: center;
	letter-spacing: 0.02em;

	color: #000000;
}

.text-frame h2 {
	position: absolute;
	width: 337px;
	height: 60px;
	left: 70px;
	top: 230px;
	
	line-height: 38px;
	display: flex;
	align-items: center;
	letter-spacing: 0.02em;

	color: #3777FF;
}

.text-frame h3 {
	margin: 40px 0 0 400px;

	line-height: 50px;
	display: flex;
	align-items: center;
	letter-spacing: 0.02em;

	color: #000000;
}

.text-frame p {
	margin: 0 200px 0 400px;

	line-height: 26px;
	display: flex;
	align-items: center;
	letter-spacing: 0.02em;

	color: #000000;
}

.text-frame button {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 20px;
	gap: 12px;

	position: absolute;
	width: 74px;
	height: 50px;
	right: 50px;
	top: 40px;

	background: #A2D729;
	border-radius: 5px;
}
