<html>

<head>
    <title>Change Account Details</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/profilepage-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/editAccount.js"></script>
	<script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }
		.col:nth-child(2) {
			padding: 30px 50px 30px 30px;
		}
    </style>
</head>

<body>
    {{> navbar user=username}}

	<div id="display-body">
	<div class="profile-box center">
		<div class="col">
			<img id="profile-picture" src="/images/{{username}}" />
			<h1>{{name}}</h1>
			<h2>{{username}}</h2>

			<br /><br />

			<button id="view-profile" class="green">View Profile</button>
			<button id="delete-account" class="light">Delete Account</button>
		</div>
		<div class="col">
			<h3>Change Username</h3>
			<label for="new_username">New Username</label>
			<input type="text" id="new_username" name="newUsername" />
			<p id="msg1"></p>

			<div class="btn-container">
				<button id="change_username" class="green" disabled>Save</button>
			</div>
		</div>
	</div>
	</div>

	<!-- Set active item on navbar -->
    <script>
        $('nav > #settings').addClass('active');
    </script>	
</body>

</html>