<html>

<head>
    <title>Thread Name | Subforum Name</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/threads.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/public/js/nav.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }

        #text-editor {
            display: block;
            margin-top: 50px;
        }

        content {
            height: 100px;
        }

        #text-editor label, #text-editor input, #text-editor textarea {
            display: block;
            width: 100%;
        }

        #text-editor > h3 {
            margin-bottom: 10px;
        }

        #text-editor input, #text-editor textarea {
            margin-bottom: 20px;
            border: 1px solid #E5E5E5;
            border-radius: 5px;
            background-color: #FFFFFF;
            padding: 10px 15px;
        }
    </style>
</head>

<body>
    <nav>
        <button class="material-icons" onclick="toggleNav(true)">menu</button>

        <a href="home.html"><span class="material-icons">home</span>
            Dashboard
        </a>
        <div id="nav-grp" onmouseover="toggleSubitems(true)" onmouseleave="toggleSubitems(false)">
            <a class="active"><span class="material-icons">question_answer</span>
                Subforums
            </a>
            <a class="active" href="create_subforum.html"><span class="material-icons">add</span>
                Create subforum
            </a>
            <a href="search.html"><span class="material-icons">search</span>
                Search subforum
            </a>
        </div>
        <a href="editaccount.html"><span class="material-icons">settings</span>
            Settings
        </a>
        <a href="logout.html"><span class="material-icons">logout</span>
            Log out
        </a>

        <div id="profile-slot">
            <img id="profile-img" src="/public/resources/profile1.png" />
            <a id="username" href="user/charlie123.html">charlie123</a>
        </div>
    </nav>

    <div id="text-editor" class="box-container">
        <h3>Create Subforum</h3>

        <label for="subforum-name">Name</label>
        <input type="text" name="subforum-name" />

        <label for="subforum-desc">Short Description</label>
        <textarea name="subforum-desc" maxlength="100"></textarea>

        <div id="actions">
            <button class="light" onclick="history.back()">Cancel</button>&nbsp;
            <button class="green">Post</button>
        </div>
    </div>

</body>

</html>