<html>

<head>
    <title>Deleting Account...</title>
    <script>
        window.setTimeout(function(){
            window.location.href = "index.html";
        }, 3000);
    </script>
</head>

<body>
    Deleting Account...
</body>

</html>