<html>

<head>
    <title>Edit Thread | disqussip</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/threads.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/createThread.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }

        #text-editor {
            display: block;
            margin-top: 20px;
        }

        content {
            height: 100px;
        }
    </style>
</head>

<body>
    {{> navbar user=user}}

    <div id="subforum-heading">
        <div id="subforum-info">
            <a href="index.html">
                <h2 id="subforumTitle">{{subforum.title}}</h2>
            </a>
            <p>{{subforum.description}}</p>
        </div>
    </div>

    <div id="text-editor" class="box-container">
        <h3>Edit Thread Title</h3>
        <form method="POST">
            <div id="title" class="box-container" contenteditable>{{thread.threadTitle}}</div>
            <input name="threadtitle" id="threadtitle" type="hidden" value="" />
        <h3>Edit Thread Content</h3>
            <div id="content" class="box-container" contenteditable>{{thread.body}}</div>
            <input name="bodyContent" id="bodyContent" type="hidden" value="" />
        </form>
        <div id="actions">
                <button class="light" onclick="history.back()">Cancel</button>&nbsp;
                <button id="saveEdit" class="green">Post</button>
        </div>
        <p id="error"></p>
    </div>

    <!-- Set active item on navbar -->
    <script>
        $('nav > #subforums').addClass('active');

        $(document).ready(function () {

            $('#saveEdit').click(function(){
                // Gets data from editable content to textarea to send to POST request
                var title = $('#title').html();
                var body = $('#content').html();

                $('#threadtitle').val(title);
                console.log('#threadtitle: '+ $('#threadtitle').val());
                $('#bodyContent').val(body);
                console.log('#bodyContent: '+ $('#bodyContent').val());
                
                if ( title && body ) 
                    $('form').submit();
                else
                    $("#error").text("Do not leave any field blank.");
            });
        });
    </script>
</body>

</html>