<html>

<head>
    <title>Change Account Details</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/editprofile-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #342E36;
        }
    </style>
</head>

<body>
    {{> navbar }}

	<div class="profile-frame">
		<div class="wrapper">
			<img id="profile-picture" src="/resources/profile1.png" />
			<h2> Ines Sarkisyan </h2>
			<h3> inesyarn@gmail.com </h3>
			<button onclick="location.href = 'user/charlie123.html';" type="submit" id="reg-button">VIEW PROFILE</button>
			<button onclick="location.href = 'deleteaccount.html';" type="submit" id="reg-button">DELETE ACCOUNT</button>
		</div>
	</div>
	
	<div class="edit-container">
		<form name="Edit Profile">
			<h1> CHANGE ACCOUNT DETAILS </h1>
			<label for="username"><h2>USERNAME</h2></label>
			<input type="text" placeholder=" Username" name="username" id="username" required>
			<label for="password"><h2>PASSWORD</h2></label>
			<input type="password" placeholder=" Password" name="password" id="password" required>
			<label for="confirmpw"><h2>CONFIRM PASSWORD</h2></label>
			<input type="password" placeholder=" Confirm Password" name="confirmpw" id="confirmpw" required>
			<label for="email"><h2>CONFIRM EMAIL ADDRESS</h2></label>
			<input type="text" placeholder=" Confirm Email Address" name="email" id="email" required>
			<button type="submit" id="reg-button">CONFIRM EDIT</button>
		</form>
	</div>

	<!-- Set active item on navbar -->
    <script>
        $('nav > #settings').addClass('active');
    </script>	
</body>

</html>