<html>

<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/editprofile-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #342E36;
        }
    </style>
</head>

<body>
    {{> navbar }}

	<div class="profile-frame">
		<div class="wrapper">
			<img id="profile-picture" src="/resources/profile1.png" />
			<h2> Ines Sarkisyan </h2>
			<h3> inesyarn@mail.com </h3>
			<button onclick="location.href = 'user/charlie123.html';" type="submit" id="reg-button">VIEW PROFILE</button>
			<button onclick="location.href = 'editaccount.html';" type="submit" id="reg-button">CHANGE ACC DETAILS</button>
		</div>
	</div>
	
	<div class="edit-container">
		<form name="Edit Profile">
			<h1> EDIT PROFILE </h1>
			<label for="name"><h2>Display Name</h2></label>
			<input type="text" placeholder=" Enter your display name" name="name" id="name" required>
			<label for="bio"><h2>Short Bio</h2></label>
			<input type="text" placeholder=" Enter your bio" name="bio" id="bio">
			<label for="interests"><h2>Interests</h2></label>
			<input type="text" placeholder=" Enter your interests" name="interests" id="interests">
			<label for="password"><h2>Confirm Password</h2></label>
			<input type="password" placeholder=" Confirm Password" name="password" id="password" required>
			<button type="submit" id="reg-button">CONFIRM EDIT</button>
		</form>
	</div>	
</body>

</html>
