<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>disqussip</title>
    <link rel="stylesheet" href="/css/login-signup-styles.css"/>
    <style>
        body {
            background-color: #f6f2f0;
            overflow: hidden;
        }
        img {
            position: fixed;
            width: 100%;
            height: 100%;
            bottom: 0;
            z-index: -1;
        }
        #website-info {
            width: 100%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        h1 { 
            font-size: 225px; 
        }
        p {
            margin-top: -60px;
            font-size: 50px;
            color: black;
        }
        * {
            opacity: 100%;
        }
    </style>

</head>
<body>
    <div id="website-info">
        <center>
            <h1>404</h1>
            <p>Page not found!</p>
        </center>
    </div>
</body>
</html>