<html>

<head>
    <title>Home | discussip</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/threads.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }
        #threads, #threads > div {
            width: 70%;
        }
    </style>
</head>

<body>
    {{> navbar }}

    <div id="full-container">

        <!-- all threads here -->
        <div id="threads">

            <b>Recent</b>

            <div class="box-container">
                <span id="from-subforum">
                    <i class="material-icons">east</i>
                    from <a href="subf/freedomWall/">Freedom Wall</a>
                </span>
                <a href="subf/freedomWall/03.html"><h3>Women in the CCS faculty</h3></a>
                <div id="author-info">
                    <img src="/resources/profile2.png" />
                    <span>
                        <a href="user/alpha123.html">alpha123</a>
                        <p>Last updated May 19, 2022</p>
                    </span>
                </div>
                <p class="content-preview">It's nice to see women in the CCS faculty. Especially with the common idea that STEM is a male-dominated</p>
            </div>

            <div class="box-container">
                <span id="from-subforum">
                    <i class="material-icons">east</i>
                    from <a href="subf/freedomWall/">Freedom Wall</a>
                </span>
                <a href="subf/freedomWall/02.html"><h3>Frustrated CCS Student</h3></a>
                <div id="author-info">
                    <img src="/resources/profile5.png" />
                    <span>
                        <a href="user/echo123.html">echo123</a>
                        <p>Last updated May 19, 2022</p>
                    </span>
                </div>
                <p class="content-preview">Bat ganon programming courses sa ccs? nakaka-blanko, nakakaiyak.</p>
            </div>

            <div class="box-container">
                <span id="from-subforum">
                    <i class="material-icons">east</i>
                    from <a href="subf/copypastas/">Copypastas</a>
                </span>
                <a href="subf/copypastas/03.html"><h3>how to use the operator</h3></a>
                <div id="author-info">
                     <img src="/resources/profile1.png" />
                    <span>
                        <a href="user/charlie123.html">charlie123</a>
                        <p>Last updated May 17, 2022</p>
                    </span>
                </div>
                <p class="content-preview">I'm not sure why folks say it's simple to op. It's obvious that timing the click to shoot with the op while holding an angle is difficult. There's a good probability you'll miss it. It takes a lot of</p>
            </div>

        </div>

        <div id="right-col">
            <div id="joined-subforums" class="box-container">
                <b>Joined Subforums</b>
                <a href="subf/copypastas/">Copypastas</a>
                <a href="subf/freedomWall/">Freedom Wall</a>
            </div>
        </div>

    </div>
    
    <!-- Set active item on navbar -->
    <script>
        $('nav > #home').addClass('active');
    </script>
</body>

</html>