<html>

<head>
    <title>Home | discussip</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/threads.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }
        #threads, #threads > div {
            width: 70%;
        }
    </style>
</head>

<body>
    {{> navbar }}

    <div id="full-container">

        <!-- all threads here -->
        <div id="threads">

            <b>Recent</b>
            {{#each recents}}
                {{> recent }}
            {{/each}}

        </div>

        <div id="right-col">
            <div id="joined-subforums" class="box-container">
                <b>Joined Subforums</b>
                <a href="subf/copypastas/">Copypastas</a>
                <a href="subf/freedomWall/">Freedom Wall</a>
            </div>
        </div>

    </div>
    
    <!-- Set active item on navbar -->
    <script>
        $('nav > #home').addClass('active');
    </script>
</body>

</html>