<html>

<head>
    <title>Logging out...</title>
    <script>
        window.setTimeout(function(){
            window.location.href = "/";
        }, 3000);
    </script>
</head>

<body>
    Logging out...
</body>

</html>