<html>

<head>
    <title>@username | discussip</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/profilepage-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }
    </style>
</head>

<body>
    {{> navbar }}

	<div class="text-frame">
		<div class="wrapper">
			<img id="profile-picture" src="/resources/profile2.png" />
			<h1> Berny Fonseca </h1>
			<h2> @alpha123 </h2>
			<label for="bio"><h3> About Me</h3></label>
			<p> Kinukulayan ang isipan Pabalik sa nakaraan 'Wag mo ng balikan Patuloy ka lang masasaktan Hindi nagkulang kakaisip Sa isang magandang larawan Paulit-ulit na binabanggit Ang pangalang nakasanayan </p>
			<label for="interests"><h3> My Interests</h3></label>
			<p> Medieval History, Western Movies (MCU), Tiktok </p>
		</div>
	</div>
		
</body>

</html>