<html>

<head>
    <title>Search Forums</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/threads.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }
        #subforum-heading {
            width: 90%;
            padding: 20px 28px;
            border-radius: 5px;
        }
        #search-container {
            display: flex;
            align-items: stretch;
            gap: 12px;
        }
        form input {
            flex-grow: 9;
        }
        form button {
            flex-grow: 1;
        }
    </style>
</head>

<body>
    {{> navbar user=user}}

    <div id="subforum-search" class="box-container">
        <h1>Find Subforum</h1>
        <form name="searchForm" method="POST">
            <div id="search-container">
                <input id="keyword" type="text" name="keyword" placeholder="Keywords" />
                <button type="submit" id="search-btn" class="green">Search</button>
            </div>
        </form>
    </div>

    <div id="subforums">
        <b>Subforums Found</b>

        {{#each subforums}}
            {{> subforumHeading}}
        {{/each}}
    </div>

    <br />

    <div id="threads">
        <b>Threads Found</b>

        {{#each threads}}
            {{> threadHeading}}
        {{/each}}
    </div>

    <!-- Set active item on navbar -->
    <script>
        $('#subforums').addClass('active');
        $('nav #searchSubf').addClass('active');

        if ($('#threads > div').length == 0)
            $('#threads > b').css('visibility', 'hidden');
        else
            $('#threads > b').css('visibility', 'visible');

        if ($('#subforums > div').length == 0)
            $('#subforums > b').css('visibility', 'hidden');
        else
            $('#subforums > b').css('visibility', 'visible');
    </script>	
</body>

</html>