<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | discussip</title>
    <link rel="stylesheet" href="/css/login-signup-styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/register.js"></script>

</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <h2>
                        discussip
                    </h2>
                </div>
                <ul class="nav-items">
                    <li>
                        <a href="/register" id="reg">Register</a>
                    </li>
                    <li>
                        <a href="/login" id="login">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="content-container">
        <div class="signup-container">
            <div class="wrapper">
                <form name="Register" id="register-form" method="POST">
                    <h3>Join discussip</h3>
                    <p>
                        Get more features and priviliges by joining to the most helpful community
                    </p>
                    <input name="username" type="text" placeholder="Username" id="username" required>
                    <input name="email" type="text" placeholder="Email" id="email" required>
                    <input name="password" type="password" placeholder="Password" id="password" required>
                    <input type="password" placeholder="Confirm Password" id="cpw" required>
                    <button type="submit" id="reg-button">REGISTER</button>
                </form>
                <p id="errorReg">

                </p>
            </div>
        </div>
        <div class="logo-container">
            <div>
                
            </div>
        </div>
    </div>

</body>
</html>