<html>

<head>
    <title>how to use the operator | Copypastas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/threads.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body { background-color: #F4F4F4; }
        form { display: none; }
    </style>
</head>

<body>
    {{> navbar }}

    <div id="subforum-heading">
        <div id="subforum-info">
            <a href="index.html">
                <h2>Copypastas</h2>
            </a>
            <p>Share your favorite copypastas.</p>
        </div>
    </div>

    <!-- thread topic box -->
    <div class="thread box-container">
       <h2>how to use the operator</h2>
        <div id="author-info">
            <img src="/resources/profile1.png" />
            <span>
                <a href="../../user/charlie123.html">charlie123</a>
                <p>May 17, 2022</p>
            </span>
        </div>

        <p class="content">I'm not sure why folks say it's simple to op. It's obvious that timing the click to shoot with the op while holding an angle is difficult. There's a good probability you'll miss it. It takes a lot of devotion and patience to hold an angle for an extended period of time, all fort the sake of shooting your opponent. Furthermore, when compared to other guns, shooting while zoomed in is considerably more difficult, owing to the fact that you are only staring at one section of the screen.</p>
        <div class="thread-actions box-container">
            <a><i class="material-icons">thumb_up</i>Like</a>
            <a><i class="material-icons">thumb_down</i>Dislike</a>
            <a onclick="showReplyBox(true)"><i class="material-icons">reply</i>Reply</a>
            <a onclick="showShareActions(true)"><i class="material-icons">share</i>Share</a>
        </div>
    </div>

    <!-- share actions -->
    <div id="share-actions" class="box-container">
        <button id="close-btn" class="material-icons" onclick="showShareActions(false)">close</button>
        <p>To share this thread, copy the following link:</p>
        <div id="link" class="box-container" contenteditable></div>
        <div id="socials">
            <p>or share to   &nbsp;</p>
            <a id="twitter-share" onclick="shareToTwitter()"><img src="/resources/icons/twt.png" /></a>
            <a id="fb-share" onclick="shareToFacebook()"><img src="/resources/icons/fb.png" /></a>
            <a id="mail-share" onclick="shareToEmail()"><img src="/resources/icons/mail.png" /></a>
        </div>
    </div>

    <!-- write reply -->
    <div id="text-editor" class="box-container">
        <span class="material-icons reply-mark">subdirectory_arrow_right</span>
        <h3>Reply to Thread</h3>

        <div id="content" class="box-container" contenteditable></div>

        <div id="actions">
            <button class="light" onclick="showReplyBox(false)">Cancel</button>&nbsp;
            <button class="green">Post</button>
        </div>
    </div>
    
    <!-- all replies here -->
    <div id="replies">
        <div class="box-container">
            <span class="material-icons reply-mark">subdirectory_arrow_right</span>
            <div id="author-info">
                <img src="/resources/profile2.png" />
                <span>
                    <a href="/user/alpha123">alpha123</a>
                    <p>May 17, 2022</p>
                </span>
            </div>
            <p class="content">Wow. This is very informative. Thank you.</p>
        </div>
    </div>

    <!-- scripts -->
    <script src="/js/threadactions.js"></script>
    
    <!-- Set active item on navbar -->
    <script>
        $('nav > #subforums').addClass('active');
    </script>	
</body>

</html>