@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

#display-body {
	position: fixed;
	width: 100%;
	height: 100%;
	padding-left: 60px; /* space for navbar */
}

.profile-box {
	width: 80%;
	height: auto;
	display: flex;
	margin: auto;
	background: #FFFFFF;
	border-radius: 5px;

	color: #000000;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.col {
	position: relative;
	padding: 50px;
}

.col:nth-child(1) {
	width: 30%;
}

.col:nth-child(2) {
	width: 70%;
}

#profile-picture {
	position: relative;
	width: 280px;
	height: 280px;
	margin-top: -180px;
	margin-bottom: 20px;
	border: 8px solid #FFFFFF;
	border-radius: 50%;
	z-index: 0;
}

.profile-box * {
	letter-spacing: 0.02em;
}

.profile-box h2 {
	margin-top: -5px;
	color: #3777FF;
}

.profile-box p {
	line-height: 26px;
	margin-top: 10px;
	margin-bottom: 30px;
}

input {
	width: 100%;
	padding: 8px;
	border: 1px solid silver;
	border-radius: 5px;
	margin-bottom: 10px;
}

#email {
	margin-top: 0;
	margin-bottom: 20px;
}

i {
	color: grey;
}

#edit-btn {
	position: absolute;
	right: 25px;
	top: 25px;
	background: #A2D729;
	border-radius: 5px;	
	opacity: 0.9;
}

#view-profile, #delete-account, #edit-account {
	display: block;
	width: 60%;
	margin: auto;
	margin-bottom: 10px;
}

.btn-container {
	position: relative;
	width: 100%;
	height: 40px;
}

button[id^=change] {
	display: block;
	float: right;
}

#cancel {
	display: block;
	float: right;
	margin-right: 10px;
}

p[id^=msg] {
	min-height: 20px;
	margin: 0;
	margin-top: -10px;
	color: red;
}

input[id^=edit] {
	margin-top: 7px;
	margin-bottom: 20px;
}

#edit-name {
	margin-left: -8px;
	margin-bottom: 10px;
	font-size: 32px;
    font-weight: 600;
	padding: 0 8px;
}